body {
    background: url("../images/background.jpg") fixed transparent;
}

header{
    background-color: #333;
}

header a{
    color: #fff;
}

.mainpad{
    background: rgba(255, 255, 255, 0.9);
    padding-top: 50px;
}