body {
    background: url("../images/background.jpg") fixed;
}

header{
    background-color: #333;
}

header a{
    color: #fff;
}

.mainpad{
    background: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
}

.mcContainer{
    position: relative;
    width: 100%;
    min-width: 720px;
    height: 40vh;
    min-height: 420px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #080808;
}

.mcs{
    position: absolute;
    width: 20%;
    height: 50%;
}

.mcm{
    position: absolute;
    width: 40%;
    height: 100%;
}

.mci{
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.mc1{
    left: 0%;
    top: 0%;
    border-bottom: 1px solid;
    border-color: #080808;
}

.mc2{
    left: 0%;
    top: 50%;
}

.mc3{
    left: 20%;
    top: 0%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #080808;
}

.mc4{
    left: 60%;
    top: 0%;
    border-bottom: 1px solid;
    border-color: #080808;
}

.mc5{
    left: 60%;
    top: 50%;
}

.mc6{
    left: 80%;
    top: 0%;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #080808;
}

.mc7{
    left: 80%;
    top: 50%;
    border-left: 1px solid;
    border-color: #080808;
}

.aslogo{
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.45;
    z-index: 5;
}

.aslogo2{
    /*background-color: #080808;*/
    position: absolute;
    top: 15%; bottom:0; left: 0; right:0;
    max-height: 80%;
    margin: auto;
    opacity: 0.45;
    z-index: 5;
}

.oclogo{
    position: absolute;
    left: 35%;
    top: 17%;
    max-height: 150px;
    opacity: 0.3;
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
    z-index: 5;
}

.info{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 20vh;
    min-height: 120px;
    max-height: 160px;
    width: 60vh;
    max-width: 600px;
    min-width: 450px;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.avator{
    height: 100%;
}

.avator img{
    position: absolute;
    height: 100%;
    top: -25px;
    left: -35px;
    z-index: 10;
}

.name{
    position: absolute;
    top: -20px;
    left: 135px;
    font-size: 25px;
    font-weight: bold;
}

.bio{
    position: absolute;
    top: 20px;
    left: 135px;
    font-size: 18px;
}

@-webkit-keyframes shake1 {
    0% {transform: rotate(15deg);}
    12.5% {transform: rotate(25deg);}
    37.5% {transform: rotate(10deg);}
    62.5% {transform: rotate(-5deg);}
    87.5% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg) scaleX(1.2) scaleY(1.2);}
}

.shake{
    -webkit-transition: width 400ms; /* For Safari 3.1 to 6.0 */
    transition: width 400ms;
}

.shake:hover {
    -webkit-animation: shake1 400ms ease-in-out;
    width: 120%;
}

@-webkit-keyframes fadeout {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(2px) rotateY(1deg); opacity: 0.8;}
    25.5% {transform: translateX(-3px) rotateY(-2deg); opacity: 0.6;}
    37.5% {transform: translateX(-6px) rotateY(-5deg); opacity: 0.4;}
    50.5% {transform: translateX(5px) rotateY(4deg); opacity: 0.2;}
    72.5% {transform: translateX(-3px) rotateY(-2deg); opacity: 0.4;}
    87.5% {transform: translateX(2px) rotateY(1deg); opacity: 0.6;}
    100% {transform: translateX(0); opacity: 0.8;}
}

.fadeout {
    -webkit-animation: fadeout 500ms;
}

.imgcontent{
    position: relative;
}

.imgpad{
    background-color: #eee;
    height: 120%;
    position: relative;
    left: 0;
    right: 0;
    margin: 5px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imgpad img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.infLoading{
    font-size: large;
    color: #31b0d5;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}